body {
    overflow: hidden;
    background-color: #ffffff;
}

#root-index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 800px;
    border: 3px solid #009fff;
    border-radius: 5px;
    padding: 40px 60px;
}

#page-top {
    position: relative;
    top: 5.95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 100px;
    /*border: 3px solid #ffffff;*/
    border-radius: 5px;
    padding: 40px 60px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


#form1{
    flex-basis: 20%;
    /*position: absolute;*/
    /*left: 88%;*/
    /*top:5%;*/
}

#btn-import, #btn-export{
    margin-top: 50px;
    padding: 7px 10px;
    background-color: #ffffff;
    font-size: 1rem;
    transition: all 300ms ease;
    border: 1px solid #ffffff;
    border-radius: 5px;
    user-select: none;
}

#btn-import{
    margin-left: 10%;
}

#btn-export{
    margin-right: 10%;
}

#btn-import:hover, #btn-export:hover {
    background-color: #009fff;
    color: white;
    border: 1px solid #000000;
    scale: 1.05;
    cursor: pointer;
}

#btn-import:active, #btn-export:active {
    scale: 0.85;
    border: 1px solid #000000;
    background-color: #ff7b7b;
    color: white;
    text-shadow: -1px -1px 4px #000000;
}


h1 {
    flex-basis: 20%;
    /*position: absolute;*/
    /*top: 20%;*/
    /*left: 35%;*/
    user-select: none;
    font-family: 'Gabriola';
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    color: #009fff;
    text-shadow: -2px -2px 0 #ff7b7b;
}

#inp-page_address,
#btn-search_main {
    display: inline;
    margin: auto;
    text-align: left;
}

#inp-page_address {
    color: #009fff;
    margin-top: 50px;
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid #000000;
    font-size: 1rem;
    width: 75%;
}

button {
    color: #000000;
}

#form2{
    flex-basis: 60%;
    /*position: absolute;*/
    /*top:55%;*/
    /*left:10%;*/
    /*width: 80%;*/
}

#btn-search_main {
    padding: 7px 20px;
    background-color: #ffffff;
    font-size: 1rem;
    transition: all 300ms ease;
    border: 1px solid #000000;
    border-radius: 20px;
    user-select: none;
}


#btn-search_main:hover {
    background-color: #009fff;
    color: white;
    border-color: #000000;
    scale: 1.05;
    cursor: pointer;
}

#btn-search_main:active {
    scale: 0.85;
    border-color: #000000;
    background-color: #ff7b7b;
    color: white;
    text-shadow: -1px -1px 4px #000000;
}


.tab {
    overflow: hidden;
    position: absolute;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    /*margin-left: 5%;*/
    /*border: 1px solid #ccc;*/
    border-bottom: 1px solid #777676;
    /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
    /*margin-left: 0%;*/
    background-color: inherit;
    float: left;
    border: 1px solid #777676;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    width: 20%;
    transition: 0.3s;
    font-size: 1rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #dedede;
    border: 1px solid #777676;
    border-radius: 10px 10px 0 0;
    color: white;
    text-shadow: -1px -1px 4px #000000;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #49bbff;
    border: 1px solid #777676;
    border-radius: 10px 10px 0 0;
    color: white;
    text-shadow: -1px -1px 4px #000000;
}

/* Style the tab content */
.tabcontent {
    visibility: hidden;
    /*margin-top: 1%;*/
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border: none;
    /*border-top: none;*/
}

#Table {
    visibility: visible;
}

#btn-Last-graph,
#btn-All-graph{
/*margin-left: 0%;*/
    background-color: #cbcbcb;
    float: left;
    border: 1px solid #777676;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    width: 16%;
    transition: 0.3s;
    font-size: 1rem;
}

#btn-Last-graph:hover,
#btn-All-graph:hover {
    background-color: #dedede;
    border: 1px solid #777676;
    border-radius: 10px 10px 0 0;
    color: white;
    text-shadow: -1px -1px 4px #000000;
}

#btn-Last-graph:active,
#btn-All-graph:active {
    background-color: #ff7b7b;
    border: 1px solid #777676;
    border-radius: 10px 10px 0 0;
    color: white;
    text-shadow: -1px -1px 4px #000000;
}


#Table {
    display: block;
}


.option-content {
    display: none;
    /*margin-top: 1%;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    /*border-top: none;*/
}

#original-graph {
    display: block;
}


#myDialog{
    position: absolute;
    top: 50px;
    width: 50%;
    height: 30px;
    text-align: center;
    font-size: 2rem;
    background-color: #ff3737;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: Calibri;
}

#Strongly-connected,
#Get-centrality,
#Page-rank,
#Find-path,
#Import-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 100px;
    text-align: center;
    font-size: 2rem;
    background-color: #ff3737;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: Calibri;
}

#Strongly-connected button,
#Get-centrality button,
#Page-rank button,
#Find-path button,
#Import-alert button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #cbcbcb; 
    color: #fff;
    cursor: pointer;

    border: 1px solid #777676;
    border-radius: 10px 10px 0 0;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 1rem;
}

#Strongly-connected button:hover,
#Get-centrality button:hover,
#Page-rank button:hover,
#Find-path button:hover,
#Import-alert button:hover {
    background-color: #dedede;
    border: 1px solid #777676;
    border-radius: 10px 10px 0 0;
    color: white;
    text-shadow: -1px -1px 4px #000000;
}

#Strongly-connected button:active,
#Get-centrality button:active,
#Page-rank button:active,
#Find-path button:active,
#Import-alert button:active {
    background-color: #ff7b7b;
    border: 1px solid #777676;
    border-radius: 10px 10px 0 0;
    color: white;
    text-shadow: -1px -1px 4px #000000;
}