<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title >ProjectName</title>
    <link rel="stylesheet" href="../static/main.css" />
    <script src="../static/main.js"></script>
    <!--<script src="../static/script.js"></script>-->
    <script src="//unpkg.com/force-graph"></script>
    <script src="//unpkg.com/d3-force"></script>
    <script src="//unpkg.com/d3-quadtree"></script>
    <script defer src="{{url_for('static',filename = 'graph_update.js')}}"></script>
    <link rel = "stylesheet" href="{{url_for('static',filename = 'main_page_style.css')}}">
</head>
<body>

<div id="root-index">
    <div id="page-top">
        <h1>Project_name</h1>
        <div id="form2">
            <input id="inp-page_address" type="text" name="page_address" placeholder="Enter the web-page address" />
            <button id="btn-search_main" type="button" onclick="load_links()">Search</button>
        </div>
        <div id="form1">
            <button id="btn-import" type="submit" onclick="import_graph()">Import</button>
            <button id="btn-export" type="submit" onclick="export_graph()">Export</button>
        </div>
    </div>
    <div id="workspace" >
        <div class="tab">
            <button id="btn-Graph" class="tablinks" onclick="openTabs(event, 'Graph')">Graph</button>
            <button id="btn-Table" class="tablinks" onclick="openTabs(event, 'Table')">Table</button>
            <button id="btn-Settings" class="tablinks" onclick="openTabs(event, 'Settings')">Advanced settings</button>
            <button id="btn-All-graph" class="tabparm" onclick="getAllGraph()">Display all graph</button>
            <button id="btn-Last-graph" class="tabparm" onclick="getLastGraph()">Display last graph</button>
        </div>

        <div id="Graph" class="tabcontent">
            <div id="container1" class="tabcontainer"></div>
        </div>

        <div id="Table" class="tabcontent">
            <div id="container2" class="tabcontainer"></div>
        </div>

        <div id="Settings" class="tabcontent">
            <div id="container3" class="tabcontainer">
                <div class="custom-select">
                    <select onchange="optionSelect(this.options[this.selectedIndex].value)">
                        <option value="original-graph">Исходный граф</option>
                        <option value="pathfinding">Поиск пути</option>
                        <option value="strongly-connected-component">Компоненты сильной связности</option>
                        <option value="centrality">Центральность</option>
                        <option value="page-rank">Page Rank</option>
                    </select>
                </div>

                <div class="option-content" id="original-graph">
                    <button id="btn-original-graph" onclick="Graph_transformer.to_inital_state()">Применить</button>
                </div>

                <div class="option-content" id="pathfinding">
                <!--      <input id="inp-page_1" type="text" placeholder="Enter the web-page address" />-->
                <!--      <input id="inp-page_2" type="text" placeholder="Enter the web-page address" />-->
                    <button id="btn-pathfinding" onclick="Graph_transformer.find_path_mode()">Применить</button>
                </div>

                <div class="option-content" id="page-rank">
                    <button id="btn-page-rank" onclick="Graph_transformer.page_rank_algorithm()">Применить</button>
                </div>

                <div class="option-content" id="centrality">
                    <select id="sel-centr">
                        <option value="0">По близости</option>
                        <option value="1">По степени</option>
                        <option value="2">По посредничеству</option>
                    </select>
                    <button id="btn-centrality" onclick="getCentrality()">Применить</button>
                </div>

                <div class="option-content" id="strongly-connected-component">
                    <button id="btn-strongly-connected-component" onclick="Graph_transformer.strongly_connected_algorithm()">Применить</button>
                </div>
            </div>
        </div>
    </div>

    <dialog id="Dialog-not-available">not available</dialog>
    <dialog id="Import-alert">Import is completed successfully, click on the "Display all graph" button and then on "Graph" tab to see the result.</dialog>
    <dialog id="Find-path">Go to the "Graph" tab and select two nodes, wait until a path is marked between them, if there is one. If the path does not exist, the path will not be marked. In any of the outcomes, you can choose two nodes again.</dialog>
    <dialog id="Page-rank">Go to the "Graph" tab. The value of its page rank was calculated for each node. The size of each node is now proportional to its page rank.</dialog>
    <dialog id="Get-centrality">Go to the "Graph" tab. The value of its chosen centrality was calculated for each node. The size of each node is now proportional to its chosen centrality.</dialog>
    <dialog id="Strongly-connected">Go to the "Graph" tab. Each strongly connected component was colored in its own unique color.</dialog>

</div>
</body>
</html>